body {
    background-image: url('/src/assets/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
li, ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    user-select: none;
}
p {
    color: #000;
}
div {
    color: #000;
}